rtl/obj_dir
rtl/.stamp.verilate
rtl/waveform.vcd


rtl/sim_build
rtl/results.xml
rtl/dump.vcd

rtl/decoder_old.sv
rtl/alu_old.sv
rtl/top.sv

testbenches/__pycache__


utils

synthesis/stat.log
synthesis/*.v