archive
vivado
utils

obj_dir
.stamp.verilate
waveform.vcd


sim_build
results.xml
dump.vcd


verification/unittests/__pycache__
verification/system/build



synthesis/stat.log
synthesis/*.v
synthesis/*.constr
