archive
vivado
utils
fpga/docs

obj_dir
.stamp.verilate
waveform.vcd


sim_build
results.xml
dump.vcd


verification/unittests/__pycache__
verification/system/build


synthesis/outputs
synthesis/*.constr
